src/main/mule/jenkins-deploy-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="201bc1ac-ab80-46f0-b39e-828449f67934" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkins-deploy-appFlow" doc:id="d4638985-4dc2-4a65-a130-1265bd996013" >
		<http:listener doc:name="Listener" doc:id="89a70913-8640-4652-953c-b83ebc338b74" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["hello"]' doc:name="Set Payload" doc:id="a4fd2ef9-e36b-403d-ae65-fdf7bfa896b6" />
	</flow>
</mule>
